*{
    margin: 0;
    padding: 0;
}

.item{
    width: 50px;
    height: 100px;
    background-color: rgb(223, 213, 247);
    color: rgb(44, 17, 109);
    margin: 10px;
}

.conteudo{
display: grid;
grid-template-columns:10% 10% 10% 10% 10% ;
}

.barra{
    background-color: blue;
    height: 20vh;
}

.lado{
    background-color: yellow;
    height: 40vh;
}

.principal{
    background-color: red;
    height: 20vh;
}

.rodape{
    background-color: blue;
    height: 20vh;
}



